<header>
  <div style="float: left;margin-top: 25px; margin-left: 10px;">
      <a href="https://civfr.com/"><span *ngIf="lang === 'fr'">Retour sur civFR.com</span></a>
      <a href="https://civfr.com/"><span *ngIf="lang === 'uk'">Return on civFR.com</span></a>
  </div>
  <div class="langFlags" style="float: right;">
    <img src="https://i.ibb.co/Lx75C5f/1200px-Flag-of-France-svg.png" alt="fr-flag" height="30px" width="40px" style="margin-top: 25px;margin-right: 20px;" (click)="changeLang()" *ngIf="lang === 'fr'">
    <img src="https://i.ibb.co/260VWRg/1280px-Flag-of-the-United-Kingdom-svg.png" alt="uk-flag" height="30px" style="margin-top: 25px;margin-right: 20px;" width="40px" (click)="changeLang()" *ngIf="lang === 'uk'">
  </div>
</header>

<body>
  <div style="display: flex;">
    <img src="https://i.ibb.co/gSdDpym/tournoi-Civfr2em.jpg" alt="tournoi-Civfr2em" style="margin:10px auto 10px auto " class="imgBody">
  </div>
  <br>

  <div class="bodyFR" *ngIf="lang === 'fr'">
    <h1 style="text-align: center;">Bienvenue</h1>
  </div>
  <div class="bodyUK" *ngIf="lang === 'uk'">
    <h1 style="text-align: center;">Welcome</h1>
  </div>

  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#nav-rules" id="nav-rules-tab" data-toggle="tab"><span *ngIf="lang === 'fr'">Reglement</span><span *ngIf="lang === 'uk'">Rules</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#nav-registration" id="nav-registration-tab" data-toggle="tab"><span *ngIf="lang === 'fr'">Inscription</span><span *ngIf="lang === 'uk'">Registration</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#nav-teams" id="nav-teams-tab" data-toggle="tab"><span *ngIf="lang === 'fr'">Liste d'équipes</span><span *ngIf="lang === 'uk'">Teams list</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="#nav-bracket" id="nav-bracket-tab" data-toggle="tab"><span *ngIf="lang === 'fr'">Arbre du tournois</span><span *ngIf="lang === 'uk'">Tournament's bracket</span></a>
      </li>
  </ul>

  <div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade show active" id="nav-rules" role="tabpanel" aria-labelledby="nav-rules">
      <div *ngIf="lang === 'fr'">
        UN       
        <!-- <h3 style="text-align: center;">Paramètres de partie & règles spécifiques</h3>
        <h4>Jeu :</h4> <span>Civilization 6 Gathering Storm</span> -->
      </div>
      <div *ngIf="lang === 'uk'">
        ONE
      </div>
    </div>

    <div class="tab-pane fade" id="nav-registration" role="tabpanel" aria-labelledby="nav-registration">
      2
    </div>

    <div class="tab-pane fade" id="nav-teams" role="tabpanel" aria-labelledby="nav-teams">
      3
    </div>

    <div class="tab-pane fade" id="nav-bracket" role="tabpanel" aria-labelledby="nav-bracket">
      <iframe src="https://challonge.com/fr/civfr2vs2/module" width="100%" height="600" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>
    </div>

  </div>
</body>
<footer>
<span>Made with &hearts; by E.Bezos for CIVFR community</span>
</footer>